html { 
  box-sizing: border-box; 
}

*,
*::before,
*::after { 
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0; 
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  padding: 0px 10px;
  margin: 0 auto;
}

/* Базовое оформление хэдера*/
.header {
  background-color: #f4f7f9;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 60px;
  color: #ffffff;
}

.header ul {
  list-style: none;
}

.header-top-wrap {
  background-color:#293449;
}

.header-top,
.header-middle,
.header-menu {
  display: flex;
}

.header-top ul {
  display: flex;
  flex-wrap: wrap;
} 

.header-top-list {
  padding: 0;
  margin: 0;
}

.header-top a,
.header-bottom a {
  color:inherit;
}

.header-top-list a {
  display: block;
  padding: 12px 5px;
  min-width: 150px;
  text-align: left;
}

.header-logo {
  display: block;
  padding-left: 56px;
  padding-top: 12px;
  width: 220px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.24),
  0 5px 0 0 #ee3643;
}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
}

.header-search-form {
  display: flex;
  flex-grow:1; 
}

.header-search {
  display: block;
  flex-grow: 1;
  padding: 11px 12px 12px 9px;
  margin-right: 0;
  border:none;
  background-color: transparent;
  outline: none;
}  

.header-search-label {
  width: 40px;
  order: -1;
  background-image: url("../img/icon-search.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 17px 12px;
  opacity: 0.3;
}

.header-search::placeholder {
  color: #ffffff;
}

.header-search-form:hover > .header-search-label {
  opacity: 1;
}

.header-search-form:hover {
  background-color: #212a3a;
}

.header-search:focus {
  background-color: #ffffff;
  color: #000000;
}

.header-search:focus + .header-search-label {
  background-image: url("../img/icon-search-hover.svg");
  background-color: #ffffff;
  opacity: 1;
}

.header-top-list .header-bookmarks {
  position: relative;
  padding-left: 44px;
}

.header-bookmarks::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  left: 17px;
  opacity: 0.3;
}

.header-top-list .header-basket {
  padding-left: 50px;
  position: relative;
}

.header-basket::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  left: 17px;
  opacity: 0.3;
}

.header-bookmarks:hover, 
.header-basket:hover {
  background-color: #212a3a;
}

.header-bookmarks:hover::before, 
.header-basket:hover::before {
  opacity: 1;
}

.header-bookmarks:active, 
.header-basket:active {
  color: rgba(255, 255, 255, 0.6);
}

.header-bookmarks:active::before, 
.header-basket:active::before {
  opacity: 0.5;
}

.header-top-list .header-order {
  text-align: center;
  background-color: #63a63e;
}

.header-order:hover {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-middle {
  display: flex;
  margin-top: 46px;
  margin-bottom: 39px;
}

.header-info {
  margin: 0;
  padding: 3px 70px 0px 53px;
  width: 320px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.header-telephon {
  padding: 10px 15px 10px 71px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

.header-address {
  padding: 2px 5px 0px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-account {
  width: 300px;
  margin: 0px 0px 0px auto;
}

.account-management {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0px 0px 0px 19px;
} 

.account-management a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  background-color: white;
  color: #000000;
}

.account-management a:hover {
  color: #ee3643 ;
}

.account-management a:active {
  color: #000000;
  opacity: 0.3;
}

.login-btn {
  padding: 12px 25px 12px 48px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 14px 50%;
}

.login-btn:hover {
  background-image: url("../img/icon-login-hover.svg");
}

.registration-btn {
  padding: 12px 24px 12px 25px;
}

.account-links a {
  text-decoration: underline;
  font-size: 16px;
  color: #32425c;
}

.account-links a:hover {
  color: #ee3643;
}

.account-links a:active {
  color: #32425c;
  opacity: 0.3;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}
.header-menu li {
  flex-grow: 1;
}

.header-menu a {
  display: block;
  text-align: center;
  padding: 20px 30px 23px 30px;
  line-height: 17px;
  color: #ffffff;
}

.header-menu :first-child a {
  padding-left: 51px;
}

.header-menu :last-child a {
  padding-right: 53px;
  
}

.header-bottom a:hover {
  background-color: #1d2739;
}

.header-bottom a:active {
  opacity: 0.6;
}

/* Базовое оформление футера*/
.footer {
  background-color: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 53px;
}

.footer-top-contacts  {
  display: flex;
  flex-direction: column;
  width: 325px;
}

.footer-menu-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 549px;
}

.footer-menu-wrap .footer-menu {
  margin: 38px 0px 10px 0px;
}

.footer-menu-wrap .list-products {
  margin: 25px 0px 27px 0px;
}

.footer-menu li,
.list-products li {
  margin: 0px 0px 0px 59px;
}

.footer-menu li:first-child {
  margin-left: 0;
}

.list-products li:first-child {
  margin-left: auto;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.footer p {
  margin: 0;
}

.footer-logo {
  display: block;
  width: 220px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-top a {
  color: inherit;
}

.footer-menu a:hover, 
.list-products a:hover {
  text-decoration: underline;
}

.footer-menu a:active, 
.list-products a:active {
  opacity: 0.5;
}

.list-products a {
  color: #ffd180;
}

.footer-bottom-wrap {
  background-color: #293449;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom-copyright {
  width: 228px;
}

.footer-bottom-mail {
  width: 135px;
}

.footer-bottom-developer {
  width: 96px;
}

.footer-mail-link,
.footer-developer-link {
  color: #ffd180;
}

.footer-mail-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-mail-link:active,
.footer-developer-link:active {
  color: #ee3643;
}

.footer-social-btn {
  width: 132px;
}

.footer-social-btn a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.footer-social-btn a:hover,
.footer-social-btn a:active {
  background-color: #ee3643;
}

.vk-btn {
  background-image: url("../img/icon-vk.svg");
}

.fb-btn {
  background-image: url("../img/icon-fb.svg");
}

.insta-btn {
  background-image: url("../img/icon-insta.svg");
}

/* Базовое оформление main главной страницы*/

.main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offer {
  margin: 59px 0px 53px 0px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #f1f5f7;
}

.offer-list {
  display: flex;
  justify-content: space-between;
}

.offer-row-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 20px;
}

.bonus-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-list li,
.bonus-list li {
  width: 300px;
  padding: 21px 140px 22px 23px;
}

.offer-list a,
.bonus-list a {
  display: block;
  width: 135px;
  padding: 11px 0px 9px 3px;
  margin-top: 12px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: inherit;
}

.offer-list a:hover,
.bonus-list a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-list a:active,
.bonus-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offer-list b,
.bonus-list b {
  font-size: 24px;
  line-height: 30px;
}

.offer-materials {
  background-color: #ffbf47;
}

.offer-tool {
  background-color: #3bbce3;
}

.offer-technics {
  background-color: #dc91d8;
}

.offer-discounts {
  background-color: #8ed78f;
}

.offer-delivery {
  background-color: #ffc047
}

.promo-slider {
  position: relative;
  width: 620px;
}

.promo-slider img {
  display: block;
}

.slider-first,
.slider-second {
  background-color: #405069;
  position: relative;
}

.promo-slider-slogan {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 570px;
  top: 22px;
  left: 24px;
}

.promo-slider-slogan b {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider-slogan span {
  font-size: 18px;
  line-height: 24px;
  margin-top: 2px;
  padding-left: 1px;
}

.slider-side-btn button {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  border: none;
  top: 114px;
  width: 22px;
  height: 40px;
}

.reight-side-btn {
  background-image: url("../img/icon-right.svg");
  right: 42px; 
}

.left-side-btn {
  background-image: url("../img/icon-left.svg");
  left: 24px;
}

.slider-bottom-btn button {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0;
  border: none;
  bottom: 36px;
  width: 10px;
  height: 10px;
}

.first-bottom-btn {
  left: 295px;
}

.second-bottom-btn {
  right: 295px;
}

.slider-open-btn {
  display: block;
  position: absolute;
  padding: 11px 6px 9px 11px;
  width: 195px;
  top: 206px;
  left: 25px;
  border-radius: 3px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.slider-open-btn:hover {
  background-color: #ca2c37;
}

.slider-open-btn:active {
  background-color: #ba2732;
}

.main h2 {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.popular-product-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 24px 26px 29px;
  background-color: #f9f5f0;
}

.popular-product-top  h2,
.popular-manufacturers h2 {
  padding-top: 5px;
}

.all-manufacturers-btn, 
.popular-product-btn {
  display: block;
  width: 253px;
  font-family: "Cuprum", Arial, sans-serif;
  padding: 11px 10px 9px 10px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-product-list {
  display: flex;
  flex-wrap: wrap;
}

.popular-product-list .cart-product {
  margin: 20px 20px 0px 0px;
}

.popular-product-list .cart-product:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturers-top {
  display: flex;
  justify-content: space-between;
  padding: 25px 24px 26px 29px;
  margin-top: 20px;
  background-color: #f9f5f0;
}

.popular-manufacturers .popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 85px;
}

.popular-manufacturers-list a {
  display: flex;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  border: solid 1px #eaeaea;
}

.popular-manufacturers-list a:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.popular-manufacturers-list a:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.popular-manufacturers-list a:active > img {
  opacity: 0.3;
}

.popular-manufacturers-list img {
  margin: auto;
}

.services {
  background: #f4f7f9;
  padding: 66px 0px 99px 0px;
}

.services h2, 
.services p {
  color: #000000;
}

.services p,
.services h3 {
  margin: 0;
}

.services p {
  margin-top: 26px;
  font-size: 13px;
  line-height: 24px;
  width: 400px;
  letter-spacing: 0.05px;
}

.services-wrap {
  display: flex;
  margin-top: 67px;
}

.services-slider {
  width: 650px;
}

.services-slider li {
  position: relative;
}

.services-slider h3 {
  margin:0;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.6px;
  color:#32425c;
}

.slider-delivery p {
  width: 276px;
}

.slider-guarantee p {
  width: 379px;
}

.slider-credit p {
  width: 279px;
}

.slider-delivery::after {
  content: "";
  position: absolute;
  background-image: url("../img/delivery.png");
  width: 468px;
  height: 261px;
  top:25px;
  right: 1px;
}

.slider-guarantee::after {
  content: "";
  position: absolute;
  background-image: url("../img/guarantee.png");
  width: 389px;
  height: 283px;
  top:0;
  right: 0;
}

.slider-credit::after {
  content: "";
  position: absolute;
  background-image: url("../img/credit.png");
  width: 465px;
  height: 285px;
  top:0;
  right: 0;
}

.slider-credit a {
  display: block;
  padding: 12px 44px;
  width: 195px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  color: inherit;
  background-color: #ff5357;
}

.services .services-control {
  width: 240px;
  margin-right: 90px;
}

.services-control a {
  display: block;
  padding: 16px 0px 16px 22px;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.services-control a:hover {
  background-color: #293449;
}

.services-control a:active {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.info-wrap {
  display: flex;
  justify-content: space-between;
}

.company-info {
  width: 521px;
}

.office-map{
  width: 300px;
}

.company-info, 
.office-map {
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  padding: 80px 0px 86px 0px;
}

.company-info h2, 
.office-map h2 {
  color: #000000;
 }

.company-info p, 
.office-map p {
  margin-top: 25px;
  font-family: "PT Sans", Arial, sans-serif; 
  font-size: 13px;
  line-height: 24px;
}

.company-info p {
  letter-spacing: 0.12px;
}

.modal-contact-btn,
.company-info-btn {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ee3643;
  color: white;
  text-align: center;
}
.office-map p {
  width: 180px;
}

.modal-contact-btn {
  padding: 11px 7px 9px 13px;
}

.company-info-btn {
  padding: 11px 10px 9px 10px;
  width: 220px;
}

.company-info li {
  font-size: 18px;
  line-height: 20px;
}

.bigmap-link {
  display: block;
  margin: 32px 0px;
}

 /* Базовое оформление main страницы каталога*/

.main-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.main-catalog ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bread-crumbs {
  display: flex;
}

.bread-crumbs a {
  color: inherit;
}

.main-catalog h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.main-catalog h2 {
  font-size: inherit;
  line-height: inherit;
}  

.main-content-wrap {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  flex-direction: column;
  height: 766px; /* временно*/
  width: 220px;
}

.filter h2 {
  background-color: #f7f3ec;
}

.filter-form fieldset {
  border: none;
}

.filter-form .filter-manufacturers, 
.filter-form .filter-price {
  border-bottom: 1px solid #000000;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
}

.filter-form legend {
  font-size: 17px;
  line-height: 30px;
}

.filter-price input {
  width: 95px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.filter-price label {
  font-size: 0;
}

.ffilter-form .show-btn {
  width: 140px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-wrap {
  width: 700px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  background-color: #f7f3ec;
}

.sorting ul {
  display: flex;
  background-color: #f7f3ec;
}

.sorting a {
  color: inherit;
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
}

.sorting-list a {
  opacity: 0.18;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px dotted #ee3643;
}

.sorting-list a:hover {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.sorting-active-item {
  color: #ee3643;
}

.catalog-products .cart-product:nth-child(3n+1) {
margin-right: 0px;
}

.cart-product {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 20px 20px 0px 0px;
  width: 220px ;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  border: solid 1px #e5e5e5;
}

.cart-product:hover .image-product {
  opacity: 0;
}

.cart-product:hover .cart-action {
  display: block;
}

.cart-product img {
  max-width: 100%;
}

.image-product {
  order: -1;
}

.product-title {
  width: 157px;
  margin: 1px 0px 0px 0px;
}

.new-product::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  right: 0;
  z-index: 25;
}

.product-title a {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: inherit;
}

.discount, 
.price  {
  font-size: 17px;
  line-height: 18px;
  
}

.discount {
  min-height: 18px;
  margin-top: 11px;
  align-self: stretch;
  padding: 0px 5px 0px 8px;
  text-align: center;
  text-decoration: line-through;
  color: #999999;
}

.price {
  position: relative;
  width: 134px;
  margin: 10px 0px;
  margin-bottom: 20px;
  padding: 10px 5px 10px 36px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.cart-action {
  display: none;
  position: absolute;
  width: 135px;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
}

 .buy-btn, 
 .bookmarks-btn {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;  
  text-transform: uppercase;
}

 .buy-btn {
  padding: 11px 26px 9px 30px;
  color: #ffffff;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.buy-btn::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.buy-btn:hover {
  background-color: #5fbb2d;
}

.buy-btn:hover::before {
  opacity: 1;
}

.buy-btn:active {
  background-color: #518534;
  box-shadow: none;
}

.bookmarks-btn {
  margin-top: 8px;
  padding: 8px 4px 6px 9px;
  color: #32425c;
  border: solid 3px #63a63e;
}

.bookmarks-btn:hover {
  border: solid 3px #32425c;
}

.bookmarks-btn:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.pages-list {
  display: flex;
  justify-content: space-between;
  width: 284px;
}

.pages-list a {
  display: block;
  width: 38px;
  color: inherit;
  border: solid 1px #e5e5e5;
  height: 38px;
}

.active-page {
  background-color: #ee3643;
}

.pages-list a:hover {
  border: solid 1px #bdc6ca;
}

.pages-list a:active {
  border: solid 1px #ee3643;
}

.pages-list .page {
  width: 38px;
}

.pages-list .next-page {
  width: 140px;
}

.helpful-information {
  background-color: #f4f7f9;
  font-family: "Cuprum", Arial, sans-serif;
}

.helpful-information h2 {
  font-size: 30px;
  line-height: 30px;
}

.helpful-information p {
  line-height: 24px;
}